//
// AMP Story -- Logos
// --------------------------------------------------

.amp-logo-holder {
    margin-left: -0.25em;
    visibility: hidden;

    #cover & {
        visibility: visible;
    }
}