//
// AMP Story -- Citation
// --------------------------------------------------

.amp-citation {
    &.right {
        text-align: right;
    }
}

.amp-citation--content {
    background-color: rgba($black, 0.5);
    display: inline-block;
    font-size: $font-size-base;
    font-weight: 900;
    

    span {
        color: $color-primary;
    }

    .left & {
        transform: translateX(-1.125em);
        padding: 0 0.2em 0 1.125em;
    }


    .right & {
        transform: translateX(1.125em);
        padding: 0 1.125em 0 0.2em;
    }
}