//
// AMP Story -- Big text (Année)
// --------------------------------------------------

.amp-big-text--content {
    border-bottom: solid 2px $color-border;
    display: inline-block;
    font-size: $font-size-base;
    font-weight: 900;
    margin-left: -1.125em;
    padding-left: 1.125em;
}