//
// AMP Story -- Videos
// --------------------------------------------------

/* Sous titres */
::cue {
    background-color: rgba($black, 0.5);
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: 900;
    line-height: 1.38;
}

::cue(.exergue) {
    color: $color-primary;
}

video {
    object-fit: initial;
}