//
// AMP Story -- Layout
// --------------------------------------------------


/* Layer content */
.layer-content__inner {
  bottom: 0;
  left: 0;
  padding: 1.5em 0.75em 2em;
  position: absolute;
  right: 0;
  top: 0;
  display: grid;
  align-content: space-between;
}

/* Layer foreground */
.layer-foreground {
  padding: 1em;
}

.layer-foreground__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 1em;
  left: 1em;
  right: 1em;
  bottom: 1em;
  width: auto;
}

//-- Layer background

// voile
.layer-overlay:after {
  @extend %pos-absolute;
  content: '';
}

// voile full
.layer-overlay--full:after {
  background: rgba($black, 0.5);
}

.layer-overlay--full-dark:after {
  background: rgba($black, 0.7);
}

.layer-overlay--full-light:after {
  background: rgba($black, 0.3);
}

// voile from bottom
.layer-overlay--bottom:after {
  background-image: linear-gradient(180deg, transparent 55%, rgba($black, 0.6) 85%);
}

// voile from top
.layer-overlay--top:after {
  background-image: linear-gradient(0deg, transparent 55%, rgba($black, 0.6) 85%);
}

// voile from top
.layer-overlay--up-down:after {
  background: linear-gradient(to bottom, rgba($black, 0.65) 0%, rgba($black, 0) 35%, rgba($black, 0) 65%, rgba($black, 0.65) 100%);
}

// blur effect
.layer-blur img {
  filter: blur(5px);
}

amp-story-page[active] {
  // Zoom-in
  .layer-zoom-in {
    animation-name: zoomIn;
    animation-duration: 20s;
    animation-timing-function: ease-out;
    transform: scale(1.5);
  }

  // Blur-out
  .layer-blur-out {
    animation-name: blurOut;
    animation-duration: 1.25s;
    animation-timing-function: linear;
  }
}