//
// AMP Story -- Layout Cover
// --------------------------------------------------


//-- Layer content
#cover .layer-content__inner {
  display: flex;
  align-items: center;
  padding: 0;
}

#cover .layer-foreground__inner {
  justify-content: space-between;
}

//-- Logo
.amp-logo-holder {
  margin-left: -0.25em;
  visibility: hidden;

  #cover & {
    visibility: visible;
  }
}

//-- Headline
.amp-cover {
  width: 100%;
  margin-top: 37%;

  [orientation='landscape'] & {
    margin-top: 17%;
  }
}

// Titres
.amp-cover__headline {
  font-size: 42px;
  font-weight: 900;
  line-height: 1.125;
}

// .headline-left--text,
// .headline-right--text {
//   animation-name: fadeIn;
//   animation-duration: 1s;
//   animation-timing-function: linear;
// }

.headline-left--line,
.headline-right--line {
  border-bottom: solid 2px $color-primary;
  display: block;
  // animation-duration: 0.5s;
  // animation-timing-function: linear;
}

// titre left
.amp-cover__headline .headline-left {
  display: inline-block;
  margin-bottom: 0.25rem;
}

.headline-left--text {
  display: inline-block;
}

// .headline-left--line {
//   animation-name: fromLeft;
// }

// titre right
.headline-left--text,
.amp-cover__headline .headline-right {
  padding-left: 13vw;

  [orientation='landscape'] & {
    padding-left: 25vw;
  }
}

// .headline-right--line {
//   animation-name: fromRight;
// }