//
// AMP Story -- Placeholders
// --------------------------------------------------

%align-center {
    align-content: center;
}

%align-end {
    align-content: end;
}

%justify-center {
    text-align: center;
}

%justify-left {
    text-align: left;
}

%d-none {
    display: none;
}

%pos-absolute {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}