//
// AMP Story -- Utilities
// --------------------------------------------------


.justify-center {
    text-align: center;
}

.justify-left {
    text-align: left;
}

.d-none {
    display: none;
}

b,
strong {
    font-weight: 900;
}