<amp-img src="assets/images/{{{img.name}}}.webp"
    width="0.56"
    height="1"
    alt="{{img.alt}}"
    attribution="{{img.copy}}"
    layout="fill"
    class="amp-image__overlay {{#img.css.overlay-full}}amp-image__overlay--full{{/img.css.overlay-full}}{{#img.css.overlay-full-dark}}amp-image__overlay--full-dark{{/img.css.overlay-full-dark}}{{#img.css.overlay-full-light}}amp-image__overlay--full-light{{/img.css.overlay-full-light}}{{#img.css.overlay-bottom}}amp-image__overlay--bottom{{/img.css.overlay-bottom}}{{#img.css.overlay-top}}amp-image__overlay--top{{/img.css.overlay-top}}{{#img.css.overlay-up-down}}amp-image__overlay--up-down{{/img.css.overlay-up-down}} {{#img.css.zoom-in}}amp-image--zoom-in{{/img.css.zoom-in}} {{#img.css.blur}}amp-image--blur{{/img.css.blur}} {{#img.css.blur-out}}amp-image--blur-out{{/img.css.blur-out}}"> 
    <amp-img src="assets/images/{{{img.name}}}.jpg"
        fallback
        width="0.56"
        height="1"
        alt="{{img.alt}}"
        attribution="{{img.copy}}"
        layout="fill"
        class="amp-image__overlay {{#img.css.overlay-full}}amp-image__overlay--full{{/img.css.overlay-full}}{{#img.css.overlay-full-dark}}amp-image__overlay--full-dark{{/img.css.overlay-full-dark}}{{#img.css.overlay-full-light}}amp-image__overlay--full-light{{/img.css.overlay-full-light}}{{#img.css.overlay-bottom}}amp-image__overlay--bottom{{/img.css.overlay-bottom}}{{#img.css.overlay-top}}amp-image__overlay--top{{/img.css.overlay-top}}{{#img.css.overlay-up-down}}amp-image__overlay--up-down{{/img.css.overlay-up-down}} {{#img.css.zoom-in}}amp-image--zoom-in{{/img.css.zoom-in}} {{#img.css.blur}}amp-image--blur{{/img.css.blur}}  {{#img.css.blur-out}}amp-image--blur-out{{/img.css.blur-out}}"></amp-img>
</amp-img>