<amp-audio id="{{audio.id}}" {{#audio.autoplay}}autoplay{{/audio.autoplay}}
 {{#audio.loop}}loop{{/audio.loop}} {{#audio.muted}}muted{{/audio.muted}}
    width="1.33"
    height="1"
    layout="nodisplay">
    <div fallback>
        <p>Votre navigateur ne supporte pas le lecteur audio HTML5.</p>
    </div>
    <source type="audio/mpeg" src="assets/audios/{{{audio.folder}}}/audio.mp3">
    <source type="audio/ogg" src="assets/audios/{{{audio.folder}}}/audio.ogg">
    <track src="assets/audios/{{{audio.folder}}}/subtitles.vtt" srclang="fr" default>
</amp-audio>