{# amp-image.njk #}
<amp-img src="assets/images/{{card.background.image.name | safe}}.webp"
  width="2"
  height="3"
  alt="{{card.background.image.alt}}"
  attribution="{{card.background.image.copy}}"
  layout="fill"
  object-position="{{card.background.xpos}} {{card.background.ypos}}"> 
  <amp-img src="assets/images/{{card.background.image.name | safe}}.jpg"
    fallback
    width="2"
    height="3"
    alt="{{card.background.image.alt}}"
    attribution="{{card.background.image.copy}}"
    layout="fill"
    object-position="{{card.background.xpos}} {{card.background.ypos}}"></amp-img>
</amp-img>