{# amp-backcover.njk #}
<!-- back cover -->
<amp-story-page id="endcover" class="amp-story-page amp-story-page__full">
  <amp-story-grid-layer template="fill" class="layer-background layer-overlay {% if backcover.background.css.overlay %}layer-overlay--{{backcover.background.css.overlay}}{% endif %} {% if backcover.background.css.zoom %}layer-zoom-in{% endif %} {% if backcover.background.css.blur %}layer-blur{% endif %} {% if backcover.background.css.blurout %}layer-blur-out{% endif %}">
    <amp-img src="assets/images/{{backcover.background.image.name}}.webp"
    id="backCoverImage"
    width="2"
    height="3"
    alt="{{backcover.background.image.alt}}"
    attribution="{{backcover.background.image.copy}}"
    layout="fill"> 
      <amp-img src="assets/images/{{backcover.background.image.name}}.jpg"
        fallback
        width="2"
        height="3"
        alt="{{backcover.background.image.alt}}"
        attribution="{{backcover.background.image.copy}}"
        layout="fill"></amp-img>
    </amp-img>
  </amp-story-grid-layer>

  <amp-story-grid-layer template="vertical" class="layer-content">
    <div class="layer-content__inner">
      <div class="amp-endcover">
        <div class="amp-endcover__content">
          <div class="amp-contexte {{backcover.content.align}}">
            <div class="amp-contexte--content">
              <span class="title">{{backcover.content.title | safe}}</span>
                <p>{{backcover.content.realisation | safe}}</p>
                <div class="copyright">&copy;{{backcover.content.copyright}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </amp-story-grid-layer>

  <amp-story-grid-layer template="vertical" class="layer-foreground">
    <div class="layer-foreground__inner">
      <div class="amp-logo-holder">
        <amp-img src="assets/logo/1x1.svg"
          width="50"
          height="50"
          class="logo-ina-cover">
        </amp-img>
      </div>
    </div>
  </amp-story-grid-layer>
</amp-story-page>