{# amp-frontcover.njk #}
<!-- front cover -->
<amp-story-page id="cover" class="amp-story-page amp-story-page__full">
  
  <amp-story-grid-layer template="fill" class="layer-background layer-overlay {% if frontcover.background.css.overlay %}layer-overlay--{{frontcover.background.css.overlay}}{% endif %} {% if frontcover.background.css.zoom %}layer-zoom-in{% endif %} {% if frontcover.background.css.blur %}layer-blur{% endif %} {% if frontcover.background.css.blurout %}layer-blur-out{% endif %}">
    <amp-img src="assets/poster/4x3.webp"
    object-position="{{frontcover.background.xpos}} {{frontcover.background.ypos}}"
    id="frontCoverImage"
    width="4"
    height="3"
    alt="{{frontcover.background.image.alt}}"
    attribution="{{frontcover.background.image.copy}}"
    layout="fill"> 
      <amp-img src="assets/poster/4x3.jpg"
        object-position="{{frontcover.background.xpos}} {{frontcover.background.ypos}}"
        fallback
        width="4"
        height="3"
        alt="{{frontcover.background.image.alt}}"
        attribution="{{frontcover.background.image.copy}}"
        layout="fill"></amp-img>
    </amp-img>
  </amp-story-grid-layer>

  <amp-story-grid-layer template="vertical" class="layer-content">
    <div class="layer-content__inner">
      <div class="amp-cover">
        <div class="amp-cover__content">
          <h1 class="amp-cover__headline">
            <div class="headline-left">
              <span class="headline-left--text">{{frontcover.content.headlineleft | safe}}</span>
              <span class="headline-left--line"></span>
            </div>
            <div class="headline-right">
              <span class="headline-right--text">{{frontcover.content.headlineright | safe}}</span>
              <span class="headline-right--line"></span>
            </div>
          </h1>
        </div>
      </div>
    </div>
  </amp-story-grid-layer>

    <amp-story-grid-layer template="vertical" class="layer-foreground">
        <div class="layer-foreground__inner">
            <div class="amp-logo-holder">
                <amp-img src="assets/logo/1x1.svg"
                    width="50"
                    height="50"
                    class="logo-ina-cover">
                </amp-img>
            </div>
            <div class="amp-page-credits">
                <p>{{frontcover.foreground.credits}}</p>
            </div>
        </div>
    </amp-story-grid-layer>
</amp-story-page>