<!-- Page 6 -->
<amp-story-page id="page6" class="amp-story-page amp-story-page__full" >
    
    <amp-story-grid-layer template="fill" class="layer-background">
<amp-img src="assets/images/cuba-MGAFE0004508--AP-4.webp"
    width="0.56"
    height="1"
    alt="Fidel Castro"
    attribution="Ina"
    layout="fill"
    class="amp-image__overlay amp-image__overlay--full   "> 
    <amp-img src="assets/images/cuba-MGAFE0004508--AP-4.jpg"
        fallback
        width="0.56"
        height="1"
        alt="Fidel Castro"
        attribution="Ina"
        layout="fill"
        class="amp-image__overlay amp-image__overlay--full    "></amp-img>
</amp-img>    </amp-story-grid-layer>

    <amp-story-grid-layer template="vertical" class="layer-content">
        <div class="layer-content__inner">

            <div class="amp-big-text">
                <div class="amp-big-text--content">1960's</div>
            </div>


            <div class="amp-contexte left">
                <div class="amp-contexte--content"><strong>Fidel Castro</strong><br>prend goût au pouvoir,<br>les <strong>élections</strong> prévues<br>n'auront <strong>jamais lieu</strong>.</div>
            </div>

        </div>
    </amp-story-grid-layer>

    <amp-story-grid-layer template="vertical" class="layer-foreground">
        <div class="layer-foreground__inner">
            <div class="amp-page-credits">
                <p>Ina</p>
            </div>
        </div>
    </amp-story-grid-layer>
    
</amp-story-page>