<!-- Page 7 -->
<amp-story-page id="page7" class="amp-story-page amp-story-page__full" >
    
    <amp-story-grid-layer template="fill" class="layer-background">
<amp-img src="assets/images/cuba-MGAFE0095372--AQ.webp"
    width="0.56"
    height="1"
    alt="Fidel Castro"
    attribution="Ina"
    layout="fill"
    class="amp-image__overlay amp-image__overlay--full   "> 
    <amp-img src="assets/images/cuba-MGAFE0095372--AQ.jpg"
        fallback
        width="0.56"
        height="1"
        alt="Fidel Castro"
        attribution="Ina"
        layout="fill"
        class="amp-image__overlay amp-image__overlay--full    "></amp-img>
</amp-img>    </amp-story-grid-layer>

    <amp-story-grid-layer template="vertical" class="layer-content">
        <div class="layer-content__inner">

            <div class="amp-big-text">
                <div class="amp-big-text--content">Août 1960</div>
            </div>


            <div class="amp-contexte right">
                <div class="amp-contexte--content"><strong>Fidel Castro</strong><br>durcit les relations<br>avec les <strong>Etats-Unis</strong>.</div>
            </div>

        </div>
    </amp-story-grid-layer>

    <amp-story-grid-layer template="vertical" class="layer-foreground">
        <div class="layer-foreground__inner">
            <div class="amp-page-credits">
                <p>Ina</p>
            </div>
        </div>
    </amp-story-grid-layer>
    
</amp-story-page>