<!-- Page 13 -->
<amp-story-page id="page13" class="amp-story-page amp-story-page__full" >
    
    <amp-story-grid-layer template="fill" class="layer-background">
<amp-img src="assets/images/cuba-KPCAA800508.webp"
    width="0.56"
    height="1"
    alt="Boat people"
    attribution="Ina"
    layout="fill"
    class="amp-image__overlay amp-image__overlay--up-down   "> 
    <amp-img src="assets/images/cuba-KPCAA800508.jpg"
        fallback
        width="0.56"
        height="1"
        alt="Boat people"
        attribution="Ina"
        layout="fill"
        class="amp-image__overlay amp-image__overlay--up-down    "></amp-img>
</amp-img>    </amp-story-grid-layer>

    <amp-story-grid-layer template="vertical" class="layer-content">
        <div class="layer-content__inner">

            <div class="amp-big-text">
                <div class="amp-big-text--content">1980's</div>
            </div>


            <div class="amp-contexte left">
                <div class="amp-contexte--content">Depuis l'arrivée de Fidel Castro au pouvoir, plus<br>d'un <strong>million</strong> de cubains<br>ont <strong>quitté le pays</strong>.</div>
            </div>

        </div>
    </amp-story-grid-layer>

    <amp-story-grid-layer template="vertical" class="layer-foreground">
        <div class="layer-foreground__inner">
            <div class="amp-page-credits">
                <p>Ina</p>
            </div>
        </div>
    </amp-story-grid-layer>
    
</amp-story-page>