<!-- Page 4 -->
<amp-story-page id="page4" class="amp-story-page amp-story-page__full" auto-advance-after="cuba-MGAFE0004508--AP">
    
    <amp-story-grid-layer template="fill" class="layer-background">
<amp-video id="cuba-MGAFE0004508--AP" autoplay  
    width="0.56"
    height="1"
    layout="fill"
    poster="assets/videos/cuba-MGAFE0004508--AP/poster.jpg">
    <source src="assets/videos/cuba-MGAFE0004508--AP/video.webm" type="video/webm" />
    <source src="assets/videos/cuba-MGAFE0004508--AP/video.mp4" type="video/mp4" />
    <track src="assets/videos/cuba-MGAFE0004508--AP/subtitles.vtt" srclang="fr" default>
    <div fallback>
        <p>Votre navigateur ne supporte pas ce format vidéo.</p>
    </div>
</amp-video>    </amp-story-grid-layer>

    <amp-story-grid-layer template="vertical" class="layer-content">
        <div class="layer-content__inner">

            <div class="amp-big-text">
                <div class="amp-big-text--content">1<sup>er</sup> janvier 1959</div>
            </div>



        </div>
    </amp-story-grid-layer>

    <amp-story-grid-layer template="vertical" class="layer-foreground">
        <div class="layer-foreground__inner">
            <div class="amp-page-credits">
                <p>Les Actualités françaises/Ina</p>
            </div>
        </div>
    </amp-story-grid-layer>
    
</amp-story-page>