<!-- Page 1 -->
<amp-story-page id="page1" class="amp-story-page amp-story-page__full" >
    
    <amp-story-grid-layer template="fill" class="layer-background">
<amp-img src="assets/images/cuba-MGCPB0032741--BM.webp"
    width="0.56"
    height="1"
    alt="Fulgencio Batista"
    attribution="Ina"
    layout="fill"
    class="amp-image__overlay amp-image__overlay--full   "> 
    <amp-img src="assets/images/cuba-MGCPB0032741--BM.jpg"
        fallback
        width="0.56"
        height="1"
        alt="Fulgencio Batista"
        attribution="Ina"
        layout="fill"
        class="amp-image__overlay amp-image__overlay--full    "></amp-img>
</amp-img>    </amp-story-grid-layer>

    <amp-story-grid-layer template="vertical" class="layer-content">
        <div class="layer-content__inner">

            <div class="amp-big-text">
                <div class="amp-big-text--content">Décembre 1956</div>
            </div>


            <div class="amp-contexte right">
                <div class="amp-contexte--content">Le <strong>général Batista</strong><br>est à la tête de <strong>Cuba</strong>.<br><strong>Fidel Castro</strong> débarque<br>sur l'île avec 82 exilés,<br>dont <strong>Che Guevara</strong>.</div>
            </div>

        </div>
    </amp-story-grid-layer>

    <amp-story-grid-layer template="vertical" class="layer-foreground">
        <div class="layer-foreground__inner">
            <div class="amp-page-credits">
                <p>Ina</p>
            </div>
        </div>
    </amp-story-grid-layer>
    
</amp-story-page>