<!-- Page 12 -->
<amp-story-page id="page12" class="amp-story-page amp-story-page__full" >
    
    <amp-story-grid-layer template="fill" class="layer-background">
<amp-img src="assets/images/cuba-MGVDD620125-CUB-17.webp"
    width="0.56"
    height="1"
    alt="L&#39;homme à abattre"
    attribution="Ina"
    layout="fill"
    class="amp-image__overlay amp-image__overlay--full-light   "> 
    <amp-img src="assets/images/cuba-MGVDD620125-CUB-17.jpg"
        fallback
        width="0.56"
        height="1"
        alt="L&#39;homme à abattre"
        attribution="Ina"
        layout="fill"
        class="amp-image__overlay amp-image__overlay--full-light    "></amp-img>
</amp-img>    </amp-story-grid-layer>

    <amp-story-grid-layer template="vertical" class="layer-content">
        <div class="layer-content__inner">

            <div class="amp-big-text">
                <div class="amp-big-text--content">1960's - 1970's</div>
            </div>


            <div class="amp-contexte right">
                <div class="amp-contexte--content"><strong>Fidel Castro</strong> devient l'homme à abattre.<br>Les Etats-Unis nourrissent<br>les groupes anti-castristes.<br>Il aurait échappé à 683 tentatives d'assassinat.</div>
            </div>

        </div>
    </amp-story-grid-layer>

    <amp-story-grid-layer template="vertical" class="layer-foreground">
        <div class="layer-foreground__inner">
            <div class="amp-page-credits">
                <p>Ina</p>
            </div>
        </div>
    </amp-story-grid-layer>
    
</amp-story-page>