<!-- Cover page -->
<amp-story-page id="cover" class="amp-story-page amp-story-page__full">
    <amp-story-grid-layer template="fill" class="layer-background">
        <amp-img src="assets/images/poster.webp"
            id="coverImage"
            width="0.56"
            height="1"
            alt="{{img.alt}}"
            attribution="{{img.copy}}"
            layout="fill"
            class="amp-image--zoom-in amp-image__overlay {{#img.css.overlay-full}}amp-image__overlay--full{{/img.css.overlay-full}}{{#img.css.overlay-full-dark}}amp-image__overlay--full-dark{{/img.css.overlay-full-dark}}{{#img.css.overlay-full-light}}amp-image__overlay--full-light{{/img.css.overlay-full-light}}{{#img.css.overlay-bottom}}amp-image__overlay--bottom{{/img.css.overlay-bottom}}{{#img.css.overlay-top}}amp-image__overlay--top{{/img.css.overlay-top}}{{#img.css.overlay-up-down}}amp-image__overlay--up-down{{/img.css.overlay-up-down}}"> 
            <amp-img src="assets/images/poster.jpg"
                fallback
                id="coverImage"
                width="0.56"
                height="1"
                alt="{{img.alt}}"
                attribution="{{img.copy}}"
                layout="fill"
                class="amp-image--zoom-in amp-image__overlay {{#img.css.overlay-full}}amp-image__overlay--full{{/img.css.overlay-full}}{{#img.css.overlay-full-dark}}amp-image__overlay--full-dark{{/img.css.overlay-full-dark}}{{#img.css.overlay-full-light}}amp-image__overlay--full-light{{/img.css.overlay-full-light}}{{#img.css.overlay-bottom}}amp-image__overlay--bottom{{/img.css.overlay-bottom}}{{#img.css.overlay-top}}amp-image__overlay--top{{/img.css.overlay-top}}{{#img.css.overlay-up-down}}amp-image__overlay--up-down{{/img.css.overlay-up-down}}"></amp-img>
        </amp-img>
    </amp-story-grid-layer>

    <amp-story-grid-layer template="vertical" class="layer-content">
        <div class="layer-content__inner">
            <div class="amp-cover">
                <div class="amp-cover__content">
                    <h1 class="amp-cover__headline">
                        <div class="headline-left">
                            <span class="headline-left--text">{{{headline.left}}}</span>
                            <span class="headline-left--line"></span>
                        </div>
                        <div class="headline-right">
                            <span class="headline-right--text">{{{headline.right}}}</span>
                            <span class="headline-right--line"></span>
                        
                        </div>
                    </h1>
                </div>
            </div>
        </div>
    </amp-story-grid-layer>

    <amp-story-grid-layer template="vertical" class="layer-foreground">
        <div class="layer-foreground__inner">
            <div class="amp-logo-holder">
                <amp-img src="assets/icons/logo-ina.svg"
                    width="50"
                    height="50"
                    class="logo-ina-cover">
                </amp-img>
            </div>
            <div class="amp-page-credits">
                <p>{{{credits}}}</p>
            </div>
        </div>
    </amp-story-grid-layer>

</amp-story-page>